head {
    background-color: #333333
    }

body {
    background-color: #333333
}

h3{
    text-align: center;
    margin: 0 auto; 
    font-size: 75px; 
    color: #ffffff; 
    margin-top: 25px;
}

p{
    text-align: center;
    margin: 0 auto; 
    font-size: 20px; 
    color: #ffffff;  
}

.place{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; 
    padding-bottom: 20px;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}